@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}


@media (max-height: 700px) {
    .hide-on-small-height {
        display: none;
    }
}